#input-field{
    margin: 10px 65px 0px 0px;
}

#unlock-button{
    margin: 0px 65px 20px 0px;
}

#playerctl-box{
    background-color: #1F1F1F;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#user-image{
    border: solid #18b7b7;
    border-width: 1px;
    box-shadow: 0px 0px 5px #18b7b7;
    border-radius: 54px;
    background: #1f1f1f;
    margin:10px 30px;
}

button{
    border:0px;
}
